In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split

In [4]:
data = pd.read_csv('dataset/abalone.data',header=None,names=['Sex','Length','Diameter','Height','Whole-weight','Shucked-weight','Viscera-weight','Shell-weight','Rings'])
data.loc[(data['Sex']=="M"),'Sex']=0
data.loc[(data['Sex']=="F"),'Sex']=1
data.loc[(data['Sex']=="I"),'Sex']=2
n = len(data)+1
nlist = range(1,n)
data['id'] = nlist
data

,Sex,Length,Diameter,Height,Whole-weight,Shucked-weight,Viscera-weight,Shell-weight,Rings,id
0,0,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15,1
1,0,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7,2
2,1,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9,3
3,0,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10,4
4,2,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7,5
...,...,...,...,...,...,...,...,...,...,...
4172,1,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11,4173
4173,0,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10,4174
4174,0,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9,4175
4175,1,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10,4176
4176,0,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12,4177

In [7]:
train,test = train_test_split(data,test_size=0.2,random_state=0)
train

,Sex,Length,Diameter,Height,Whole-weight,Shucked-weight,Viscera-weight,Shell-weight,Rings,id
3141,2,0.180,0.135,0.080,0.0330,0.0145,0.0070,0.0100,5,3142
3521,2,0.215,0.150,0.055,0.0410,0.0150,0.0090,0.0125,3,3522
883,0,0.660,0.530,0.170,1.3905,0.5905,0.2120,0.4530,15,884
3627,0,0.715,0.525,0.200,1.8900,0.9500,0.4360,0.4305,10,3628
2106,0,0.595,0.455,0.155,1.0410,0.4160,0.2105,0.3650,14,2107
...,...,...,...,...,...,...,...,...,...,...
1033,0,0.650,0.525,0.185,1.6220,0.6645,0.3225,0.4770,10,1034
3264,1,0.655,0.500,0.140,1.1705,0.5405,0.3175,0.2850,12,3265
1653,0,0.595,0.450,0.145,0.9590,0.4630,0.2065,0.2535,10,1654
2607,1,0.625,0.490,0.165,1.1270,0.4770,0.2365,0.3185,9,2608
2732,2,0.410,0.325,0.110,0.3260,0.1325,0.0750,0.1010,8,2733

In [8]:
print('Train data shape:', train.shape)
print('Test data shape:', test.shape)

Train data shape: (3341, 10)
Test data shape: (836, 10)

In [10]:
#Function for barplot Analysis
def Analysis(df,Cols,hue=None):
    plt.figure(figsize=(25,10))
    fig = 1
    i = (len(Cols)//5)+1
    for col in Cols:
        plt.subplot(i, 5, fig)
        title = str(col)+" Analysis"
        plot = sns.barplot(data=df,x=col,y='Price',palette='coolwarm',ci=None,order=sorted(df[col].unique()),hue=hue)
        plot.set_title(title)
#        plt.xticks(rotation=90)
#        ylabels = ['{:,.0%}'.format(y) for y in plot.get_yticks()]
#        plot.set_yticklabels(ylabels)
#        plot.set_ylabel('Books Price')
#        for p in plot.patches:
#            plot.annotate(format(p.get_height(),'.1%'), (p.get_x() + p.get_width() / 2., p.get_height()), ha = 'center', va = 'center', xytext = (0, 10), textcoords = 'offset points')
        fig = fig+1

In [15]:
plt.figure(figsize=(20,7))
sns.barplot(data=train,x='BookCategory',y='Price',palette='coolwarm',ci=None,order=sorted(train['BookCategory'].unique()),hue=None)
plt.xticks(rotation=90)
plt.show()

KeyError: 'BookCategory'